@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url(../../assets/picture/background.jpg);
    background-size:100% ;
}

*{font-family: 'Press Start 2P', cursive;}

p {
    text-align: justify; 
    color: rgba(255, 255, 255, 0.938);
}

h1,h2 {
    text-align: center;
    color: #905af3b4;
}

h3 { color : rgba(170, 145, 228, 0.959);}

.content-center {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 5%;
    background-color: #161515; 
    opacity:0.8;
    padding : 0 1% 1% 1%;
}

.new-game {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 8%;
    margin-right: 10%; 
}

.new-game * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.new-game li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.2em;
    overflow: hidden;
}

.new-game a {
    padding: 0 0.5em 0 0.2em;
    color: #f32121;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.new-game a:before,
.new-game a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.new-game a:before {
    right: 100%;
    display: block;
    width: 3px;
    height: 100%;
    content: "";
    background-color:  #f32121;
}

.new-game a:after {
    padding: 0 0.5em 0 0.2em;
    position: absolute;
    right: 100%;
    top: 0;
    content: attr(data-hover);
    color: #d15a5a;
    white-space: nowrap;
}

.new-game li:hover a,
.new-game .current a {
    transform: translateX(100%);
}

.button_Popup{
    display: block;
    margin: auto;
}

.overlay,.deckLevel {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 25%;
    display: none; 
}

.hp,.sw,.sh {display: none;}
    
.popup img {
    width: 20%;
    height: 250px;
    margin: 5% 5%;
}

.popup {
    width: 100%;
    height: 500px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}

.buttonClose {
    cursor: pointer;
    position: absolute;
    right: 5% ;
    top: 18%;
    font-size: 1.3em;
}

.popup h3 {padding-top: 10%;}
   
.content-level {margin-top: 12%;}
    
.level-btn {
    border: none;
    background-color: #420cd8;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 400;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    border-radius: 23px;
    letter-spacing: 2px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    width: 27%;
}

.level-btn:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #1a0430b4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.level-btn:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 3px solid #818bb3;
    content: '';
    border-radius: inherit;
}

.level-btn:hover,
.level-btn.hover {
    background-color: #310094;
    color: #ffffff;
    transform: scale(1.20);
    transition-duration: 400ms;
}

.level-btn:hover:before,
.level-btn.hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%) ;
    opacity: 0.25;
}

.hp_page{
    background-image: url(../picture/background/wizardBackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.sw_page {
    background-image: url(../picture/background/starwarsBackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.sh_page{
    background-image: url(../picture/background/dcBackgorund.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.card_content_deck{
    height: 650px; 
    width: 540px; 
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 3%;
    margin: auto;
    padding: 2%;
}

.card_content_deck img{ 
    width: 100%;
    height: 140px;
    border:solid 2px;
    object-fit: cover;     
}
.text_content p {
    margin-top: 1%;
    text-align: center;
}

#jedi, #sith{
   
    grid-template-columns: repeat(6, 120px);
    /* background-color: aqua; */
    width: 50%;
    grid-gap: 1%;
    padding: 1%; 
}

#dc, #marvel {
    grid-template-columns: repeat(8, 120px);
    /* background-color: aqua; */
    width: 65%;
    grid-gap: 1%;
    padding: 1%; 
}



